<div class="container">
  <% if @sauna.errors.any? %>
    <%= @sauna.errors.count %>件のエラーが発生しました
    <ul>
      <% @sauna.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  <div class="row">
    <h4 class="p-3">サウナ登録</h4>
  </div>

  <div class="mb-10">
  <%= form_with model: @sauna, url: admin_saunas_path do |f| %>

    <div class="form-group row">
      <%= f.label "商品画像", class: "col-md-2 offset-md-2 col-form-label" %>
      <div class="col-md-6">
        <%= f.file_field :sauna_image, placeholder:"ファイルを選択", multiple: true  %>
      </div>
    </div>

    <div class="form-group row">
      <%= f.label "サウナ名", class: "col-md-2 offset-md-2 col-form-label" %>
      <div class="col-md-5">
        <%= f.text_field :name, placeholder:"施設名",  class: "form-control" %>
      </div>
    </div>

    <div class="form-group row">
      <%= f.label "郵便番号", class: "col-md-2 offset-md-2 col-form-label" %>
      <div class="col-md-5">
        <%= f.text_field :postal_code, placeholder:"0000000",  class: "form-control" %>
      </div>
    </div>

    <div class="form-group row">
      <%= f.label "都道府県", class: "col-md-2 offset-md-2 col-form-label" %>
      <div class="col-md-5">
        <%= f.text_field :address1,  class: "form-control" %>
      </div>
    </div>

    <div class="form-group row">
      <%= f.label "市町村", class: "col-md-2 offset-md-2 col-form-label" %>
      <div class="col-md-5">
        <%= f.text_field :address2,  class: "form-control" %>
      </div>
    </div>

　　<div class="form-group row">
      <%= f.label "以降の住所", class: "col-md-2 offset-md-2 col-form-label" %>
      <div class="col-md-5">
        <%= f.text_field :address3,  class: "form-control" %>
      </div>
    </div>


    <div class="form-group row">
      <%= f.label "サウナ説明", class: "col-md-2 offset-md-2 col-form-label" %>
      <div class="col-md-5">
        <%= f.text_area :introduction, placeholder:"ここに説明文を記述します",  class: "form-control" %>
      </div>
    </div>

    <div class="form-group row">
      <%= f.label "入湯料", class: "col-md-2 offset-md-2 col-form-label" %>
      <div class="col-md-5 pr-0">
        <%= f.text_field :price, placeholder:"1000",  class: "form-control" %>
      </div>
      <div class="col-md-1 pl-0">
        円
      </div>
    </div>

    <div class="form-group row">
      <%= f.label "ジャンル", class: "col-md-2 offset-md-2 col-form-label" %>
      <div class="col-md-5 pr-0">
        <%= f.select :genre_id,options_from_collection_for_select(Genre.all, :id, :name), include_blank: true %>
      </div>
    </div>

    <!--<div class="form-group row">-->
      <%#= f.label "エリア", class: "col-md-2 offset-md-2 col-form-label" %>
    <!--  <div class="col-md-5 pr-0">-->
        <%#= f.select :area_id,options_from_collection_for_select(Area.all, :id, :name), include_blank: true, class: "form-control" %>
    <!--  </div>-->
    <!--</div>-->

    <div class="form-group row">
      <%= f.label "営業ステータス", class: "col-md-2 offset-md-2 col-form-label" %>
      <div class="col-md-2">
        <%= f.radio_button :sales_state, true, id: "sales_states1" %>
        <%= f.label :"閉業" %>
      </div>
      <div class="col-md-2">
        <%= f.radio_button :sales_state, false, id: "sales_states2" %>
        <%= f.label :"営業中" %>
      </div>
    </div>
    <div class="form-group row">
      <%= f.label "公開状況", class: "col-md-2 offset-md-2 col-form-label" %>
      <div class="col-md-2">
        <%= f.radio_button :is_active, true, id: "is_active1" %>
        <%= f.label :"非公開" %>
      </div>
      <div class="col-md-2">
        <%= f.radio_button :is_active, false, id: "is_active2" %>
        <%= f.label :"公開" %>
      </div>
    </div>

    <div class="row  justify-content-center">
      <div class="col-auto ">
        <%= f.submit "新規登録", class: "btn btn btn-success px-5 py-2" %>
      </div>
    </div>
  </div>
  <% end %>
</div>

