<% if flash[:notice] %>
  <p id="notice">
   <%= flash[:notice] %>
  </p>
<% end %>
<div class="container">

  <div class ="row mb-3">
  </div>


  <div class="row">
    <%= link_to  admin_sauna_path(@review.sauna) do %>
      <h4 class="m-3"><%= @review.sauna.name %></h4>
    <% end %>
  </div>
  <div class="row">
      <h5 class="border-bottom border-5 m-3">レビュー詳細</h5>
  </div>

  <div class="card">
    <div class="card-header">
      <%= link_to admin_user_path(@review.user_id) do %>
      <div class="row">
        <div class="col-auto d-flex align-items-center">
          <%= image_tag @review.user.get_user_image(40,40) %>
        </div>
        <div class="col d-flex align-items-center">
          <h6 class="mb-0"><%= @review.user.full_name %></h6>
        </div>
      </div>
      <% end %>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <small class="text-muted pl-2"><%= @review.visit_date.strftime('%Y/%m') %>訪問</small>
      </li>
    </ul>
    <div class="card-body">
      <h5 class="card-title border-bottom">
          <%= @review.review_title %>
      </h5>
      <p class="card-text">
      <%= @review.review_detail %>
 　    </p>
      <div class="d-flex">
        <span id="star-rate-<%= @review.id %>"></span>
        <script>
          var elem = document.getElementById('star-rate-<%= @review.id %>');
          var opt = {
            size: 36,
            starOn: "<%= asset_path('star-on.png') %>",
            starOff: "<%= asset_path('star-off.png') %>",
            starHalf: "<%= asset_path('star-half.png') %>",
            half: true,
            readOnly: true,
            score: <%= @review.rate %>
          };
          raty(elem,opt);
        </script>
        <%= @review.rate %>
      </div>


      <%= link_to "削除", admin_sauna_review_path(@review.sauna,@review), method: :delete, class: "btn btn-sm btn-outline-secondary"  %>



    </div>
  </div>

  <div class="row">
    <h5 class="border-bottom border-5 m-3">コメント(全<%= @comments.count %>件)</h5>
  </div>


  <table class="table">
    <% @comments.each do |comment| %>
    <tbody>
      <tr>
        <th scope="col">
          <%= image_tag comment.user.get_user_image(40,40) %>
          <%= link_to admin_user_path(comment.user_id) do  %>
            <%= comment.user.full_name %>
          <% end %>
        </th>

        <td scope="col">
          <small class="text-muted pl-2">
        　   <% if comment.created_at != comment.updated_at %>
        　     <%= comment.updated_at_ymd %> <p>に編集済み</p>
        　   <% else %>
              <%= comment.created_at_ymd %>
        　   <% end %>
        　 </small>

        </td>
        <td scope="col"><%= comment.comment_detail %></td>
        <td scope="col">
    　     <div class="btn-group">
            <%= link_to "削除する", admin_sauna_review_comment_path(comment.review.sauna_id,comment.review_id,comment), method: :delete, class: "btn btn-sm btn-sm btn-outline-secondary"  %>
          </div>

        </td>
      </tr>
    </tbody>
    <% end %>
  </table>

</div>
