<%= render 'public/search', search_params: @search_params%>

<div class="container">
  <div class="row justify-content-between">
    <div class="col-md-3 py-3">
    <% if @search_params.present? %>
      <h4><%= "#{@search_params[:name]+@search_params[:address]+@search_params[:genre]}の検索結果" %></h4>
    <% else %>
      <h4>サウナ一覧</h4>
    <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md">
      <table class="table">
        <thead>
          <th scope="col", style="width:10%">サウナid</th>
          <th scope="col", style="width:25%">サウナ名</th>
          <th scope="col", style="width:25%">ジャンル</th>
          <th scope="col", style="width:15%"></th>
        </thead>
          <% @saunas.each do |sauna| %>

        <tbody>
          <td scope="row">
            <%= sauna.id %>
          </td>
          <td scope="row">
            <%= link_to sauna_path(sauna.id) do %>
              <%= sauna.name %>
            <% end %>
          </td>

          <td scope="row">
            <%= sauna.genre.name %>
          </td>

          <% if sauna.is_active == true %>
            <th scope="row", class="text-muted">非公開</th>
          <% else %>
            <th scope="row", class="text-success">公開</th>
          <% end %>
        </tbody>
          <% end %>

      </table>
    </div>
  </div>
  <div class="d-flex justify-content-center">
   <%#= paginate @saunas %>
  </div>
</div>
