
<div class="container">
  <div class="py-6 row justify-content-center">
    <div class="col-md-12 align-self-center">
      <%= image_tag @sauna.get_item_image %>
    </div>
  </div>



  <div>
    <h4><strong><%= @sauna.name %> </strong></h4>
  </div>

  <div>
    <p><%= @sauna.introduction %></p>
  </div>

  <% if @sauna.bookmark_by?(current_user) %>
      <%= link_to sauna_bookmarks_path(@sauna), method: :delete do %>
        <button type="button" class="btn btn-sm btn-warning"> 保存済み</button>
      <% end %>
  <% else %>
      <%= link_to sauna_bookmarks_path(@sauna), method: :post do %>
        <button type="button" class="btn btn-sm btn-outline-warning"> 保存</button>
      <% end %>
  <% end %>
  <%= @sauna.bookmarks.count %>
  <div>
    口コミ<%= link_to "レビュー投稿", new_sauna_review_path(@sauna), class: "btn btn-sm btn-success"  %>
    <p>レビュー件数：<%= @reviews.count %></p>
  </div>

  <% @reviews.each do |review| %>
  <div class ="pb-3">
    <%= review.user.full_name %>
    <div class="card">
      <div class="card-header">
        <%= link_to  sauna_review_path(@sauna,review) do %>
          <%= review.review_title %>
        <% end %>
      </div>
      <div class="card-body">
  　    <p class="card-text">
          <%= review.review_detail %>
  　    </p>
        <div>
          <span id="star-rate-<%= review.id %>"></span>
          <script>
            var elem = document.getElementById('star-rate-<%= review.id %>');
            var opt = {
              size: 36,
              starOn: "<%= asset_path('star-on.png') %>",
              starOff: "<%= asset_path('star-off.png') %>",
              starHalf: "<%= asset_path('star-half.png') %>",
              half: true,
              readOnly: true,
              score: <%= review.rate %>
            };
            raty(elem,opt);
          </script>
         <%= review.visit_date.strftime('%Y/%m') %>
        </div>
      </div>
    </div>
  </div>
  <% end %>


  <div>
    施設情報
    <table class="table" >
      <tbody>
        <tr>
          <th class="table-info">
            施設名
          </th>
          <td>
            <%= @sauna.name %>
          </td>
        </tr>

        <tr>
          <th class="table-info">
            住所
          </th>
          <td>
            <%= @sauna.address_display %>
          </td>
        </tr>

        <tr>
          <th class="table-info">
            詳細
          </th>
          <td>
            <%= @sauna.introduction %>
          </td>
        </tr>

        <tr>
          <th class="table-info">
            入湯料(税込)
          </th>
          <td>
            <%= @sauna.add_tax_price %>
          </td>
        </tr>

        <tr>
          <th class="table-info">
            営業時間
          </th>
          <td>
            <%= @sauna.business_hours %>
          </td>
        </tr>

        <tr>
          <th class="table-info">

          </th>
          <% if @sauna.sales_state == true %>
            <td class="text-muted">閉業</td>
          <% else %>
            <td class="text-success">営業中</td>
          <% end %>
        </tr>
      </tbody>
    </table>
  </div>



</div>