<div class="container">
  <% if @review.errors.any? %>
    <%= @review.errors.count %>件のエラーが発生しました
    <ul>
      <% @review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  <div class="row">
    <h4 class="p-3">レビュー登録</h4>
  </div>

  <div class="mb-10">
  <%= form_with model: @review, url: sauna_reviews_path do |f| %>

    <div class="form-group row">
      <%= f.label "タイトル", class: "col-md-2 offset-md-2 col-form-label" %>
      <div class="col-md-5">
        <%= f.text_field :review_title, placeholder:"タイトル",  class: "form-control"  %>
      </div>
    </div>

    <div class="form-group row">
      <%= f.label "レビュー詳細", class: "col-md-2 offset-md-2 col-form-label" %>
      <div class="col-md-5">
        <%= f.text_field :review_detail, placeholder:"詳細",  class: "form-control" %>
      </div>
    </div>


    <div class="form-group row" id="star">
      <%= f.label :rate,'評価 ',class: "col-md-2 offset-md-2 col-form-label" %>
      <%= f.hidden_field :rate, id: :review_star %>


  <!-- 評価javascript -->
      <script>
      var elem = document.getElementById('star');
      var opt = {
        size: 10,
        starOn: "<%= asset_path('star-on.png') %>",
        starOff: "<%= asset_path('star-off.png') %>",
        starHalf: "<%= asset_path('star-half.png') %>",
        scoreName: 'review[rate]',
        half: true,
      };
      raty(elem,opt);

      </script>
    </div>


    <div class="form-group row">
      <%= f.label "訪問日", class: "col-md-2 offset-md-2 col-form-label" %>
      <div class="col-md-5">
        <%= f.date_field :visit_date, class: "form-control" %>
      </div>
    </div>

    <div class="row  justify-content-center">
      <div class="col-auto ">
        <%= f.submit "投稿", class: "btn btn btn-success px-5 py-2" %>
      </div>
    </div>
  </div>
  <% end %>
</div>
