<% if flash[:notice] %>
  <p id="notice">
   <%= flash[:notice] %>
  </p>
<% end %>
<div class="container">
  <div class="row">
    <%= link_to  sauna_path(@review.sauna) do %>
      <h4 class="m-3"><%= @review.sauna.name %></h4>
    <% end %>
  </div>
  <div class="row">
      <h4 class="m-3">レビュー詳細</h4>
  </div>

  <table class="table table-bordered" >
    <tbody>
      <tr>
        <th scope="row">
          訪問日
        </th>
        <td>
          <%= @review.visit_date %>
        </td>
      </tr>

      <tr>
        <th scope="row">
          星
        </th>
        <td>
          <div class="relative-post-evaluation">
            <span id="star-rate-<%= @review.id %>"></span>
            <script>
              var elem = document.getElementById('star-rate-<%= @review.id %>');
              var opt = {
                size: 36,
                starOn: "<%= asset_path('star-on.png') %>",
                starOff: "<%= asset_path('star-off.png') %>",
                starHalf: "<%= asset_path('star-half.png') %>",
                half: true,
                readOnly: true,
                score: <%= @review.rate %>
              };
              raty(elem,opt);
            </script>
            <%= @review.rate %>
          </div>

        </td>
      </tr>

      <tr>
        <th scope="row">

        </th>
        <td>
          <%= @review.review_title %>
        </td>
      </tr>

      <tr>
        <th scope="row">

        </th>
        <td>
          <%= @review.review_detail %>
        </td>
      </tr>
    </tbody>
  </table>

  <%= link_to "編集する", edit_sauna_review_path(@review.sauna.id,@review), class: "btn btn-sm btn-success"  %>
  <%= link_to "削除する", sauna_review_path(@review), method: :delete, class: "btn btn-sm btn-danger"  %>
  <%= link_to "コメント投稿", new_sauna_review_comment_path(@review.sauna,@review), class: "btn btn-sm btn-success"  %>

  <% @comments.each do |comment| %>
　<div class="card">
　  <div class="card-body">
　    <p class="card-text">
　      <%= comment.comment_detail %>
　    </p>
　    <%= link_to  user_path(comment.user.id) do  %>
　      <%= comment.user.full_name %>
　    <% end %>
  　   <%= comment.created_at_ymd %>
  　   <% if comment.created_at != comment.updated_at %>
  　     <%= comment.updated_at_ymd %> <p>に編集済み</p>
  　   <% end %>

　  </div>

　</div>
  <% end %>

</div>
