<div class="container">

  <div class="row">
    <h4 class="p-3">エリア追加・一覧</h4>
  </div>

  <%= form_with model: @area_new, url: admin_areas_path do |f| %>
  <div class="form-group row">
    <h5 class="col-md-12">エリア追加</h5>
    <%= f.label "エリア名", class: "col-md-3 offset-md-1 col-form-label" %>
    <div class="col-md-3">
      <%= f.text_field :name, autofocus: true, class: "form-control" %>
    </div>
    <div class="col-md-3">
      <%= f.submit "新規登録", class: "btn btn btn-success px-5 py-2" %>
    </div>
  </div>
  <% end %>


  <div class="row">
    <h5 class="col-md-12">エリア一覧</h5>
    <div class="col-md-6 offset-md-1">
      <table class="table">
        <thead>
          <th scope="col", style="width:50%">エリア</th>
          <th scope="col", style="width:25%"></th>
          <th scope="col", style="width:25%"></th>
        </thead>

        <% @areas.each do |area| %>
        <tbody>
          <td scope="row">
            <%= area.name %>
          </td>
          <td scope="row">
            <%= link_to "編集", edit_admin_area_path(area), class: "btn btn-sm btn-success"  %>
          </td>
          <td scope="row">
            <%= link_to "削除", admin_area_path(area), method: :delete, class: "btn btn-sm btn-danger"  %>
          </td>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>
  <div class="d-flex justify-content-center">
   <%= paginate @areas %>
  </div>


</div>
