<%= form_with model: @post, local: true do |f| %>
~略~
<div class="field" id="star">
  <%= f.label :evaluation, "星評価：" %>
  <%= f.hidden_field :evaluation, id: :review_star %>
  <script>
    $('#star').raty({
      size     : 36,
      starOff:  '<%= asset_path('star-off.png') %>',
      starOn : '<%= asset_path('star-on.png') %>',
      starHalf: '<%= asset_path('star-half.png') %>',
      scoreName: 'review[evaluation]',   # evaluationカラムへの保存
      half: true,   # 星半分の入力
    });
  </script>
</div>
~略~
<% end %>