<% if flash[:notice] %>
  <p id="notice">
   <%= flash[:notice] %>
  </p>
<% end %>
<div class="container">
  <div class="row">
      <h4 class="m-3">マイページ</h4>
  </div>
  <div class="row">
    <div class="col-md">
      <div class="p-2">
        <label class="pr-2">登録情報</label><%= link_to "編集する", edit_user_path, class: "btn btn-sm btn-success"  %>
      </div>
    </div>
  </div>


  <table class="table table-bordered", style="width:50%" >
    <tbody>
      <tr>
        <th scope="row", style="width:30%">
          氏名
        </th>
        <td>
          <%= @user.last_name %><%= @user.first_name %>
        </td>
      </tr>

      <tr>
        <th  scope="row">
          フリガナ
        </th>
        <td>
          <%= @user.last_name_kana %><%= @user.first_name_kana %>
        </td>
      </tr>

      <tr>
        <th scope="row">
          郵便番号
        </th>
        <td>
          〒<%= @user.postal_code %>
        </td>
      </tr>

      <tr>
        <th scope="row">
          住所
        </th>
        <td>
          <%= @user.address%>
        </td>
      </tr>

      <tr>
        <th scope="row">
          電話番号
        </th>
        <td>
          <%= @user.telephone_number %>
        </td>
      </tr>

      <tr>
        <th scope="row">
          メールアドレス
        </th>
        <td>
          <%= @user.email %>
        </td>
      </tr>

    </tbody>
  </table>


自身のブックマーク

<div class="container">
  <% @bookmarks.each do |bookmark| %>
    <%= link_to  sauna_path(bookmark.sauna) do %>
      <h4 class="m-3"><%= bookmark.sauna.name %></h4>
    <% end %>

  <% end %>
</div>


自身のレビュー

<div class="container">
  <% @reviews.each do |review| %>
    <%= link_to  sauna_path(review.sauna) do %>
      <h4 class="m-3"><%= review.sauna.name %></h4>
    <% end %>

    <%= review.visit_date %>
    <%= review.graded_evaluation %>
    <%= link_to  sauna_review_path(review.sauna,review) do %>
      <%= review.review_title %>
    <% end %>
    <%= review.review_detail %>

  <% end %>

  <%#= link_to "編集する", edit_sauna_review_path(@review.sauna.id,@review), class: "btn btn-sm btn-success"  %>
  <%#= link_to "削除する", sauna_review_path(@review), method: :delete, class: "btn btn-sm btn-danger"  %>
</div>

