<% if flash[:notice] %>
  <p id="notice">
   <%= flash[:notice] %>
  </p>
<% end %>
<div class="container">
  <div class="row my-3">
    <h3><strong><%= @user.full_name %>のマイページ</strong></h3>
  </div>


  <div class="row">
    <div class = "col-md-4">

      <div class="card  text-center" style="width: 100%;">
        <%= image_tag @user.get_user_image(100,100), class: "card-img" %>
        <div class="card-body">
          <h5 class="card-title mx-auto"><%= @user.full_name %></h5>
          <p class="card-text mb-0 mx-auto">保存数：<%= @user.bookmarks.count %> </p>
          <p class="card-text mx-auto">レビュー数：<%= @user.reviews.count %> </p>
          <div class="mx-2">
            <%= link_to edit_user_path(@user), class: "btn btn-sm btn-secondary", style: "width: 70%;" do %>
              <i class="fas fa-user-cog"></i>
            <% end %>
          </div>
          <!--<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
        </div>
      </div>
    </div>

    <div class = "col-md-8">
      <div class="row mb-5">
        <h4 class="border-bottom">ブックマーク</h4>
        <div class = "col-md-12">
          <% @bookmarks.each do |bookmark| %>
            <div class = "row  border-bottom mb-2 px-1 pb-3">
              <div class ="col-md-9">
                <div class ="row">
                  <%= link_to sauna_path(bookmark.sauna_id) do %>
                    <h4 class="m-3"><strong><%= bookmark.sauna.name %></strong></h4>
                  <% end %>


                  <div class ="col-12"></div>
                  <div class ="col-md-auto">
                    <div id="<%= "average-review-rating" + bookmark.sauna.id.to_s %>", class ="col">
                      <script>
                        var elem = document.getElementById("<%= "average-review-rating" + bookmark.sauna.id.to_s %>");
                        var opt = {
                          starOn: "<%= asset_path('star-on.png') %>",
                          starOff: "<%= asset_path('star-off.png') %>",
                          starHalf: "<%= asset_path('star-half.png') %>",
                          half: true,
                          readOnly: true,
                          score: <%= bookmark.sauna.reviews.average(:rate) || 0 %>
                        };
                        raty(elem,opt);
                      </script>
                    <%= bookmark.sauna.reviews.average(:rate) %>
                    </div>
                  </div>
                  <div class ="col-md-auto">
                    <%= bookmark.sauna.reviews.count %>件
                  </div>
                  <div class ="col-md-auto">
                    <%= bookmark.sauna.bookmarks.count %>件
                  </div>
                  <div class ="col-12"></div>
                </div>
              </div>
              <div class ="col-md-3 d-flex align-items-center">
                <div class = "row d-flex justify-content-center">
                  <div class ="col-auto">
                    <% if bookmark.sauna.bookmark_by?(current_user) %>
                      <%= link_to sauna_bookmarks_path(bookmark.sauna), method: :delete do %>
                        <i class="fas fa-bookmark fa-lg"></i>
                      <% end %>
                    <% else %>
                      <%= link_to sauna_bookmarks_path(bookmark.sauna), method: :post do %>
                        <i class="far fa-bookmark fa-lg"></i>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
          <%= paginate @bookmarks %>
        </div>
      </div>
      <div class="row">
        <h4 class="border-bottom">レビュー</h4>
        <% @reviews.each do |review| %>
        <div class = "col-md-12">
          <div class = "row border-bottom mb-2 px-1 pb-3">

            <%= link_to  sauna_review_path(review.sauna,review) do %>
              <h4 class = "my-2"><strong><%= review.review_title %></strong></h4>
            <% end %>
            <div class ="col-12"></div>
            <div class = "col-md-8">
              <%= link_to  sauna_path(review.sauna) do %>
                <p class="mb-0"><%= review.sauna.name %></p>
              <% end %>
            </div>
            <div  class ="col-md-4">
              <p class="text-muted mb-0">
                <small><%= review.visit_date.strftime('%Y/%m') %>に訪問</small>
              </p>
            </div>
            <div class ="col-md-12">
              <span id="star-rate-<%= review.id %>"></span>
              <script>
                var elem = document.getElementById('star-rate-<%= review.id %>');
                var opt = {
                  size: 36,
                  starOn: "<%= asset_path('star-on.png') %>",
                  starOff: "<%= asset_path('star-off.png') %>",
                  starHalf: "<%= asset_path('star-half.png') %>",
                  half: true,
                  readOnly: true,
                  score: <%= review.rate %>
                };
                raty(elem,opt);
              </script>
              <%= review.rate %>
            </div>
          </div>
        </div>
        <% end %>
        <%= paginate @reviews %>
      </div>
    </div>
  </div>
</div>




